	* {
		box-sizing: border-box;
	}
	body{
	background-color:#1000CD;
	color: #fff;
}
.container{
	display:block;
	float:left;
}
@media(min-width:992px){
	.col-lg-1, .col-md-1, .col-sm-1 {
		float: left;
		border: 1px solid blue; 
		width: 30%;
	}	
}
@media(min-width:768px) and (max-width:991px){
	.col-lg-1, .col-md-1, .col-sm-1 {
		float: left;
		border: 1px solid blue;
		width: 50%;
	}
}
@media(max-width:767px){
	.col-lg-1, .col-md-1, .col-sm-1 {
		float: left;
		border: 1px solid blue;
		width: 100%;
	}
}