body{
	background-color:#1000CD;
	color: #fff;
	clear: left;
}
.cotainer{
	text-align: right;
}
.para1{
	float:left;
}
.para2{
	float:left;
}
.para3{
	float:left;
}
@media(max-width:992px){
	.heading{
		width:50%
	}	
}
@media(min-width:768px, max-width:991px){
	.heading{
		width:50%
	}	
}
@media(max-width:767px){
	.heading{
		width:50%
	}
}